<div class='thumbnails-box'>
  <div class='scrollable-box'>
    <!--  File upload placeholder-->
    <div [class]='attachedImages.length || savedImages.length ? "image-box" : "image-box margin-auto"'>
      <img
        (click)='openFileDialog()'
        (fileDropped)='onFilesDrop($event)'
        src='/assets/upload-file.jpeg'
        alt='Add files placeholder'
        class='placeholder'
        width='200px'
        height='200px'
        dnd
      />
      <input
        (change)='onFileUpload($event)'
        id='upload-input'
        type='file'
        accept='image/*'
        multiple
      />
    </div>

    <!--  Attachments-->
    <div
      *ngFor='let attachedImage of attachedImages'
      class='image-box'
    >
      <!--  Thumbnail-->
      <img
        [src]='attachedImage.content'
        [alt]='attachedImage.name'
        (click)='onImageSelect(attachedImage)'
        [ngClass]='attachedImage.isSelected ? "attached-image selected" : attachedImage.isError ? "failed-image attached-image" : "attached-image"'
        width='200px'
        height='200px'
      />

      <!--  Action button-->
      <button
        (click)='removeAttachedImage(attachedImage)'
        class='delete'
      >
        <img src='/assets/close-icon.svg' alt='Remove attached image' />
      </button>

      <!--  Metadata-->
      <div class='image-metadata'>
        Last modified: {{attachedImage.lastModified | date}}
      </div>
      <div class='tags'>
        <app-tags [tags]='attachedImage.tags'></app-tags>
      </div>
    </div>

    <!--  Saved images-->
    <div
      *ngFor='let savedImage of savedImages'
      class='image-box'
    >
      <!--  Thumbnail-->
      <img
        [src]='savedImage.content'
        [alt]='savedImage.name'
        (click)='onImageSelect(savedImage)'
        [class]='savedImage.isSelected ? "selected" : savedImage.toDelete ? "to-delete" : ""'
        width='200px'
        height='200px'
      />

      <!--  Action buttons-->
      <button
        *ngIf='savedImage.toDelete'
        (click)='onRecoverSavedImage(savedImage)'
        class='recover'
      >
        Recover
      </button>
      <button
        *ngIf='!savedImage.toDelete'
        (click)='onDeleteSavedImage(savedImage)'
        class='delete'
      >
        <img src='/assets/close-icon.svg' alt='Remove saved image' />
      </button>

      <!--  Metadata-->
      <div class='image-metadata'>
        Created: {{savedImage.createdAt | date}}
      </div>
      <div class='tags'>
        <app-tags
          [tags]='savedImage.tags'
          [onChange]='onTagsChange(savedImage._id)'
          [isSavedImage]='true'
        ></app-tags>
      </div>
    </div>
  </div>
</div>
