@import '../../../styles.scss';

.images-box {
  max-width: 60%;
  margin: auto;

  .scrollable-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 300px;
    overflow-x: scroll;
    padding-bottom: 14px;
    gap: 10px;

    .image-box {
      position: relative;
      max-width: 206px;

      #upload-input {
        display: none;
      }

      &.margin-auto {
        margin-left: auto;
        margin-right: auto;
      }

      .image {
        object-fit: contain;
        border: solid 3px transparent;
        border-radius: 4px;
        cursor: pointer;

        &.attached-image {
          position: relative;
          opacity: .5;
        }

        &.failed-image {
          border: solid 3px $danger;
        }

        &.placeholder {
          cursor: pointer;
        }

        &.to-delete {
          border: solid 3px $danger;
        }

        &.selected {
          cursor: default;
        }

        &.dragging-over, &.selected {
          border: solid 3px $primary;
        }
      }

      .image-metadata {
        background-color: #4a4949;
        color: #ebebeb;
        font-size: 13px;
        width: 196px;
        padding: 3px 5px;
        margin-bottom: 4px;
        border-radius: 4px;
        text-align: center;
      }

      .thumbnail-action {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 3px;
        height: 20px;

        &:hover {
          cursor: pointer;
        }

        &.delete-button {
          background-color: $danger;
          color: white;
          border: none;
          z-index: 10;
          width: 20px;
          height: 20px;

          &:hover {
            background-color: $dark_danger;
          }
        }

        &.recover-button {
          background-color: $primary;
          color: white;
          border: none;
          z-index: 10;

          &:hover {
            background-color: $dark_primary;
          }
        }

        .icon {
          width: 12px;
          height: 12px;
          vertical-align: middle;
        }
      }
    }
  }
}
