<div class='images-box'>
  <div class='image-box'>
    <img
      (click)='uploadFile()'
      (fileDropped)='onFilesDrop($event)'
      src='/assets/upload-file.jpeg'
      alt='Add files placeholder'
      class='image placeholder'
      width='200px'
      height='200px'
      dnd
    />
    <input
      (change)='onFileUpload($event)'
      id='upload-input'
      type='file'
      accept='image/*'
      multiple
    />
  </div>
  <div
    *ngFor='let attachedImage of attachedImages'
    class='image-box'
  >
    <button
      (click)='removeAttachedImage(attachedImage)'
      class='thumbnail-action delete-button'
    >
      <img class='icon' src='/assets/close-icon.svg' alt='Remove attached image' />
    </button>
    <img
      [src]='attachedImage.content'
      [alt]='attachedImage.name'
      (click)='onImageSelect(attachedImage)'
      [ngClass]='attachedImage.isSelected ? "attached-image image selected" : attachedImage.isError ? "failed-image attached-image image" : "attached-image image"'
      width='200px'
      height='200px'
    />
    <p class='image-metadata'>
      Last modified: {{attachedImage.lastModified | date}}
    </p>
    <div class='tags-box'>
      <div *ngFor='let tag of attachedImage.tags'>
        <div [class]='tag.system ? "tag system-tag not-saved" : "tag"'>
          <p>{{tag.label}}</p>
          <div
            *ngIf='!tag.system'
            (click)='removeTag(attachedImage, tag)'
            class='tag-button remove-tag'
          >
            <img class='icon' src='/assets/close-icon.svg' alt='Remove tag' />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor='let savedImage of savedImages'
    class='image-box'
  >
    <button
      *ngIf='savedImage.toDelete'
      (click)='toggleRemoveSavedImage(savedImage)'
      class='thumbnail-action recover-button'
    >
      Recover
    </button>
    <div
      *ngIf='!savedImage.toDelete'
      (click)='toggleRemoveSavedImage(savedImage)'
      class='thumbnail-action delete-button'
    >
      <img class='icon' src='/assets/close-icon.svg' alt='Remove saved image' />
    </div>
    <img
      [src]='savedImage.content'
      [alt]='savedImage.name'
      (click)='onImageSelect(savedImage)'
      [class]='savedImage.isSelected ? "image selected" : savedImage.toDelete ? "image to-delete" : "image"'
      width='200px'
      height='200px'
    />
    <p class='image-metadata'>Created at: {{savedImage.createdAt}}</p>
    <div class='tags-box'>
      <div *ngFor='let tag of savedImage.tags'>
        <div [class]='tag.system ? "tag system-tag" : "tag"'>
          <p>{{tag.label}}</p>
          <div
            *ngIf='!tag.system'
            (click)='removeTag(savedImage, tag)'
            class='tag-button remove-tag'
          >
            <img class='icon' src='/assets/close-icon.svg' alt='Remove tag' />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
