@import '../../../styles.scss';

.tags-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;

  .tag {
    display: flex;
    width: fit-content;
    max-width: 190px;
    height: 20px;
    background: $primary;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    text-overflow: ellipsis;

    &.system-tag {
      background: $dark-primary;

      &.not-saved {
        background: $grey;
        color: $dark-grey;
      }
    }

    &:not(.system-tag) {
      padding-right: 5px;
    }

    > p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tag-button {
    text-align: center;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    line-height: 1.1;
    border-radius: 3px;
    border: none;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    &.save-tag {
      background-color: $success;

      &:hover {
        background-color: $dark_success;
      }

      &:disabled {
        background-color: $dark-grey;
        cursor: not-allowed;
      }
    }

    &.remove-tag {
      margin-left: 10px;

      &:hover {
        background-color: $dark-primary;
      }
    }

    &.show-tag-input {
      background-color: $primary;
      border-radius: 10px;
      margin-left: 0;

      &:hover {
        background-color: $dark_primary;
      }
    }

    &.hide-tag-input {
      background-color: $danger;

      &:hover {
        background-color: $dark_danger;
      }
    }

    .icon {
      width: 12px;
      height: 12px;
      vertical-align: middle;
    }
  }

  .tag-input-box {
    display: flex;
    margin-left: 5px;

    .tag-input {
      height: 17px;
      border-radius: 4px;
      border: solid 1px #c7c7c7;

      &[aria-invalid=true] {
        background-color: #eddadc;
        border: solid 2px $danger;
      }
    }
  }
}
