<div class='tags-box'>
  <!--  Tags-->
  <div *ngFor='let tag of tags'>
    <div [class]='tag.system ? isSavedImage ? "tag system-tag" : "tag system-tag not-saved" : "tag"'>
      <p>{{tag.label}}</p>
      <div
        *ngIf='!tag.system'
        (click)='removeTag(tag)'
        class='tag-button remove-tag'
      >
        <img class='icon' src='/assets/close-icon.svg' alt='Remove tag' />
      </div>
    </div>
  </div>

  <!--  Action buttons-->
  <div *ngIf='canAddTags'>
    <div
      *ngIf='!isAddingTags'
      (click)='addTag()'
      class='tag-button add-tag'
    >
      <img class='icon' src='/assets/add-icon.png' alt='Add tag' />
    </div>
    <div class='tag-input-box'>
      <input
        *ngIf='isAddingTags'
        [(ngModel)]='newTagLabel'
        (keydown)='onTagInputKeyDown($event)'
        [attr.aria-invalid]='isInvalidNewTag'
        class='tag-input'
      >
      <div
        *ngIf='isAddingTags'
        (click)='cancelAddTag()'
        class='tag-button cancel-add-tag'
      >
        <img class='icon' src='/assets/close-icon.svg' alt='Cancel new tag' />
      </div>
      <div
        *ngIf='isAddingTags'
        (click)='saveTag()'
        class='tag-button save-tag'
      >
        <img class='icon' src='/assets/done-icon.svg' alt='Submit new tag' />
      </div>
    </div>
  </div>
</div>
