<ngx-spinner
  type='square-loader'
  bdColor='#136bab'
></ngx-spinner>

<app-image-preview
  [onSavedImageTagsChange]='onSavedImageTagsChange'
  [onFilesDrop]='onFilesDrop'
  [image]='selectedImage'
></app-image-preview>

<app-thumbnails
  [onSavedImageTagsChange]='onSavedImageTagsChange'
  [onDeleteSavedImage]='deleteSavedImage'
  [onRecoverSavedImage]='recoverSavedImage'
  [removeAttachedImage]='removeAttachedImage'
  [onImageSelect]='handleImageSelect'
  [onFilesDrop]='onFilesDrop'
  [attachedImages]='attachedImages'
  [savedImages]='savedImages'
></app-thumbnails>

<div class='button-box'>
  <button
    (click)='submitFiles()'
    [disabled]='submitButtonState.disabled'
  >
   {{submitButtonState.label}}
  </button>
</div>
