@import '../styles.scss';

@font-face {
  font-family: 'futurist_fixed-width';
  src: url('../assets/fonts/futrfw_3-webfont.woff2') format('woff2'),
  url('../assets/fonts/futrfw_3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20%;
    gap: 40px;
    z-index: 1;

    @media (max-width: 500px) {
      backdrop-filter: none;
    }

    h1, .google-sign-in-button {
      z-index: 1;
    }

    h1 {
      font-family: futurist_fixed-width, sans-serif;
      color: white;
      font-size: 3rem;
      filter: drop-shadow(0 1px 1px rgba(0,0,0,.3));

      @media (max-width: 1300px) {
        font-size: 2.5rem;
      }

      @media (max-width: 1000px) {
        font-size: 2rem;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    .button-box {
      z-index: 1;
      border-radius: 40px;
      backdrop-filter: blur(30rem);
      border: 2px dashed rgba(66,53,109, .35);
      padding: 30px 50px;
    }
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    animation: gradient 150s ease infinite;
    background-size: 400% 400%;
    background: linear-gradient(315deg, rgba(31, 0, 94, 1) 2%, rgba(60, 132, 206, 1) 38%, rgba(48, 168, 226, 1) 68%) fixed;

    .wave {
      background: rgb(255 255 255 / 25%);
      border-radius: 1000% 1000% 0 0;
      position: fixed;
      width: 100%;
      height: 12em;
      animation: wave 10s -3s linear infinite;
      transform: translate3d(0, 0, 0);
      opacity: 0.8;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .wave:nth-of-type(2) {
      bottom: -1.25em;
      animation: wave 18s linear reverse infinite;
      opacity: 0.8;
    }

    .wave:nth-of-type(3) {
      bottom: -2.5em;
      animation: wave 20s -1s reverse infinite;
      opacity: 0.9;
    }

  }
}

.account-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 20px;

  @media (pointer: coarse) {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
    position: fixed;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
  }

  h4 {
    font-weight: normal;
    margin: 0;

    .welcome-mobile {
      @media (pointer: fine) {
        display: none;
      }
    }

    .welcome-desktop {
      @media (pointer: coarse) {
        display: none;
      }
    }

    .username {
      color: $dark-primary;
    }

    @media (pointer: coarse) {
      &, .username {
        color: #38373B;
      }
    }
  }

  button {
    min-width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: $danger;
    border: solid 1px $danger;

    &:hover {
      background-color: $danger;
      color: white;
      cursor: pointer;
    }

    @media (pointer: coarse) {
      min-width: 100px;
    }
  }
}

.action-buttons-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 0 50px;

  @media (pointer: coarse) {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 0 10px;
    gap: 0;
  }

  button {
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }

    @media (pointer: coarse) {
      width: 100%;
    }

    &.submit-button {
      background-color: $success;

      &:hover {
        background-color: $dark-success;
      }

      @media (pointer: coarse) {
        margin: 0 10px 0 5px;
      }
    }

    &.reset-button {
      background-color: white;
      color: $danger;
      border: solid 1px $danger;

      &:hover {
        background-color: $danger;
        color: white;
      }

      @media (pointer: coarse) {
        margin: 0 5px 0 10px;
      }
    }

    &.submit-button, &.reset-button {
      &:disabled {
        background-color: $grey;
        color: $dark-grey;
        cursor: not-allowed;
        border: none;
      }
    }
  }
}
