@import '../styles.scss';

.buttons-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 0 50px;

  @media (pointer: coarse) {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 0 10px;
    gap: 0;
  }

  button {
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }

    @media (pointer: coarse) {
      width: 100%;
    }

    &.submit-button {
      background-color: $success;

      &:hover {
        background-color: $dark-success;
      }

      @media (pointer: coarse) {
        margin: 0 10px 0 5px;
      }
    }

    &.reset-button {
      background-color: white;
      color: $danger;
      border: solid 1px $danger;

      &:hover {
        background-color: $danger;
        color: white;
      }

      @media (pointer: coarse) {
        margin: 0 5px 0 10px;
      }
    }

    &.submit-button, &.reset-button {
      &:disabled {
        background-color: $grey;
        color: $dark-grey;
        cursor: not-allowed;
        border: none;
      }
    }
  }
}
