<ngx-spinner
  type='square-loader'
  bdColor='#136bab'
></ngx-spinner>

<div *ngIf='isLoggedIn' class='account-panel'>
  <h4>👋 <span class='welcome-mobile'>Hi</span><span class='welcome-desktop'>Welcome back</span>, <span class='username'>{{username}}</span></h4>
  <button (click)='logout()'>Log out</button>
</div>

<div *ngIf='!isLoggedIn' class='login-view'>
  <div class='content'>
    <h1>Photo Manager</h1>
    <div class='button-box'>
      <asl-google-signin-button
        class='google-sign-in-button'
        type='standard'
        size='large'
      ></asl-google-signin-button>
    </div>
  </div>
  <div class='background'>
    <div class='wave'></div>
    <div class='wave'></div>
    <div class='wave'></div>
  </div>
</div>

<div *ngIf='isLoggedIn' (fileDropped)='onFilesDrop($event)' dnd>
  <app-image-preview
    [onSavedImageTagsChange]='onSavedImageTagsChange'
    [onFilesDrop]='onFilesDrop'
    [image]='selectedImage'
  ></app-image-preview>

  <app-thumbnails
    [onSavedImageTagsChange]='onSavedImageTagsChange'
    [onDeleteSavedImage]='deleteSavedImage'
    [onRecoverSavedImage]='recoverSavedImage'
    [removeAttachedImage]='removeAttachedImage'
    [onImageSelect]='handleImageSelect'
    [onFilesDrop]='onFilesDrop'
    [attachedImages]='attachedImages'
    [savedImages]='savedImages'
  ></app-thumbnails>

  <div class='action-buttons-box'>
    <button
      (click)='resetFiles()'
      [disabled]='!hasChanges'
      class='reset-button'
    >
      Revert changes
    </button>

    <button
      (click)='submitFiles()'
      [disabled]='!hasChanges'
      class='submit-button'
    >
     {{submitButtonLabel}}
    </button>
  </div>
</div>
