<div class='image-preview-box'>
  <img
    *ngIf='image?.content'
    [src]='image.content'
    [alt]='image.name'
    (fileDropped)='onFilesDrop($event)'
    [class]='image.toDelete ? "image-preview to-delete" : "image-preview"'
    dnd
  />
  <div *ngIf='image && image._id !== "placeholder"' class='image-preview-bottom-section'>
    <app-tags
      [tags]='image.tags'
      [onChange]='onTagsChange'
      [isSavedImage]='!!image._id'
      [canAddTags]='true'
      class='tags-box'
    ></app-tags>
  </div>
</div>
