@import '../../../styles.scss';

.image-preview-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
  min-height: 550px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto auto 30px;

  .image-preview {
    height: 500px;
    width: 500px;
    align-self: center;
    object-fit: cover;
    border: solid 3px transparent;
    border-radius: 20px;

    &.dragging-over {
      border: solid 3px $primary;
    }

    &.to-delete {
      border: solid 3px $danger;
    }
  }

  .tags {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 480px;

    .update-image-button {
      width: fit-content;
    }
  }
}
