$success: #11850c;
$dark_success: #086604;

$primary: #228ad4;
$dark_primary: #136bab;

$danger: #d10819;
$dark_danger: #a60311;

$grey: #e6e7eb;
$dark-grey: #a2a5ab;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.5;
  font-family: Arial, Verdana, sans-serif;
}
